.overlap-slot-validation {
  font-weight: 600;
  display: flex;
  width: 100%;
  color: #e71a1a;
  font-size: 1.2rem;
  padding: 10px;
  justify-content: center;
  align-items: end;
}
.custom-calendar .p-inputtext {
  transform: translateY(-20px); /* Adjust the value as needed */
}

.TimeLable{
    top:0;
}
