<div class="dashboard-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-wrapper section-width"
             id="dashboard-main"
             style="display: block">
          <div class="create-job-sec">
            <div class="block-popup-sec" style="display: block">
              <div class="createjob-block">

                <div class="product-details motor-product-list" style="display: block">
                  <div class="createjob-tab-content" id="pickup-job" style="display: block">
                    <div class="createjob-map-block">
                      <app-motor-claim [actonSelect]="selectedCategory.JobSubType" [editPpnInfoData]="selectedCategory"></app-motor-claim>
                    </div>
                    <div class="createjob-tab-sec" style="display: none">
                      <h3>PPN Information</h3>
                      <app-ppn-info [actonSelect]="selectedCategory.JobSubType" [editPpnInfoData]="selectedCategory"></app-ppn-info>
                    </div>

                    <!--<div class="createjob-tab-sec">
                      <h3>Select PPN on map</h3>
                      <div class="createjob-map-block">
                        <app-ppn-map-selector></app-ppn-map-selector>
                      </div>
                    </div>-->

                    <div class="createjob-tab-sec">
                      <h3>Additional customer information</h3>
                      <app-customer-info [actonSelect]="selectedCategory.JobSubType" [editPpnInfoData]="selectedCategory"></app-customer-info>
                    </div>

                    <div class="createjob-tab-sec">
                      <app-select-slot [actonSelect]="selectedCategory.JobSubType" [selectedSlotData]="selectedSlotData" [editPpnInfoData]="selectedCategory"></app-select-slot>
                      <app-slot-calendar [zoneDetails]="zoneData" *ngIf="showSlotCalendar" (selectedSlotEvent)="sendSelectedSlot($event)"></app-slot-calendar>
                    </div>
                  </div>
                </div>

                <!-- Footer -->
                <div class="createjob-btn-sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="createjob-btn-block">

                          <button type="button"
                                  class="secondary-btn"
                                  id="create-cancle-btn" (click)=" goBack()">
                            Cancel
                          </button>
                          <button type="button"
                                  class="primary-btn"
                                  id="create-save-btn"
                                  (click)="editJob()">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="toasterStatus">
  <app-custom-toaster></app-custom-toaster>
</div>
