<div class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-wrapper section-width" id="dashboard-main" style="display:block; padding:0px">
          <div class="db-tab-block job-summery" style="display:block;">

            <div class="db-filter-block">

              <div class="db-filter-input alldate-input">
                <div class="select-input-block">
                  <div class="input-block dropdown-block">
                    <!-- <label for="select-list">Select option</label> -->
                    <div class="dropdown">
                      <!-- <a href="#" class="selected required" id="jobsummery-alldate">All date</a> -->
                      <input id="jobsummery-alldate" type="text" class="selected required" value="All date">
                      <ul class="custom-dropdown-list">
                        <li class="active select-list"><a href="javascript:void(0);">One</a></li>
                        <li><a href="javascript:void(0);">Two</a></li>
                        <li><a href="javascript:void(0);">Three</a></li>
                        <li><a href="javascript:void(0);">Four</a></li>
                      </ul>
                    </div>
                  </div>
                  <span class="error_message">Please select option</span>
                </div>

              </div>

            </div>

            <div class="db-chart-block">

              <div class="left-chart">

                <h3>Job summery</h3>

                <div class="db-chart-details">

                  <img src="assets/images/chart-img.png">

                </div>

              </div>

              <div class="right-chart">

                <h3>Pending job status</h3>

                <div class="db-chart-details">

                  <img src="assets/images/chart-img.png">

                </div>

              </div>
            </div>

            <div class="assets-details-block">

              <h3>Assets details</h3>

              <div class="table-wrap">

                <table>

                  <tr>

                    <th>Asset Name</th>
                    <th>Assigned</th>
                    <th>Completed</th>
                    <th>On time</th>
                    <th>Possible Delayed</th>
                    <th>Delayed</th>

                  </tr>

                  <tr>

                    <td>Pravesh Pal</td>
                    <td>4</td>
                    <td>2</td>
                    <td>3</td>
                    <td>1</td>
                    <td>2</td>

                  </tr>

                  <tr>

                    <td>Jitendra Rabari</td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>2</td>
                    <td>2</td>

                  </tr>

                  <tr>

                    <td>Saurin Kadia</td>
                    <td>5</td>
                    <td>2</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>

                  </tr>

                  <tr>

                    <td>Rohit Kumar</td>
                    <td>3</td>
                    <td>0</td>
                    <td>2</td>
                    <td>2</td>
                    <td>0</td>

                  </tr>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
